#deployment details for (book_catalog)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: book-catalog
  labels:
    app: book-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: book-catalog
  template:
    metadata:
      labels:
        app: book-catalog
    spec:
      containers:
      - name: book-catalog-cnt
        image: $CONTAINER_REGISTRY.azurecr.io/book_catalog:$VERSION
        imagePullPolicy: IfNotPresent 
        env:
        - name: PORT
          value: "4001"
        - name: DATABASE_URL
          value: postgresql://task92_user:6uLQ356fLuidHkU8cZfmb021dYctL9Uu@dpg-crmkln08fa8c73akaofg-a.oregon-postgres.render.com/task92
---
apiVersion: v1
kind: Service
metadata:
  name: book-catalog
spec:
  selector:
    app: book-catalog
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 31001
      targetPort: 4001


---

#deployment details for (inventory_management)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-management
  labels:
    app: inventory-management
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-management
  template:
    metadata:
      labels:
        app: inventory-management
    spec:
      containers:
      - name: inventory-management-cnt
        image: $CONTAINER_REGISTRY.azurecr.io/inventory_management:$VERSION
        imagePullPolicy: IfNotPresent 
        env:
        - name: PORT
          value: "5001"
        - name: DATABASE_URL
          value: postgresql://task92_user:6uLQ356fLuidHkU8cZfmb021dYctL9Uu@dpg-crmkln08fa8c73akaofg-a.oregon-postgres.render.com/task92
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-management
spec:
  selector:
    app: inventory-management
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 32001
      targetPort: 5001